<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>Crear Categoria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="FormCategoria" (ngSubmit)="crearcategoria()">
      <mat-grid-list cols="4" rowHeight=100px [gutterSize]="'50px'">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" name="nombre">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Descripcion" formControlName="descripcion" class="form-control" name="descripcion">
          </mat-form-field>
        </mat-grid-tile>   
      </mat-grid-list>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Crear Categoria</button>
    </form>
    <br>
  </mat-card-content>
  <br>
  <mat-card-header>
    <mat-card-title>Actualizar Categoria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="FormCategoriaUpdate" (ngSubmit)="actualizarcategoria()">
      <mat-grid-list cols="4" rowHeight=100px [gutterSize]="'50px'">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" name="nombre">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Descripcion" formControlName="descripcion" class="form-control" name="descripcion">
          </mat-form-field>
        </mat-grid-tile>   
      </mat-grid-list>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Actualizar Categoria</button>
    </form>
    <br>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>Eliminar Categoria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="FormCategoriaDelete" (ngSubmit)="eliminarcategoria()">
      <mat-grid-list cols="4" rowHeight=100px [gutterSize]="'50px'">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="nombre" class="form-control" name="nombre">
          </mat-form-field>
        </mat-grid-tile>
          
      </mat-grid-list>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Eliminar Categoria</button>
    </form>
    <br>
  </mat-card-content>
</mat-card>
<br>

